# Mejor rendimiento
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=false

# Node modules
# node-linker=isolated
node-linker=hoisted
symlink=false

# Caché
store-dir=~/.pnpm-store

# Public hoist pattern para tipos de TypeScript
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*